{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'blogapp/main.css' %}">


    {% if title %}
        <title> {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body style=" background-image: url({% static 'images/bg1.jpg' %}); background-size: 100% 100%; ">
<div class="container">
<nav>
    {% include 'blogapp/navbar.html' %}
</nav>
    <main role="main" class="container">

      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>

      </div>

    </main>


 </div>   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'bootstrap/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/fontawesome/js/all.min.css' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>